{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-content border-radius-lg ">
        
  <section>
    
      <div class="container mt-5">
        <div class="mb-4" style="display: flex; justify-content: space-between; align-items: center;"><h5>Hi, Prajwal</h5>
        <img src="{% static 'images/user-icon.webp' %}"  style="height: 60px; width: 60px;object-fit: contain; border-radius: 50%; margin-right: 15px;" alt=""></div>
        
          <div class="card shadow-lg">
              <div class="card-body">
                  <h1 class="text-center  mb-4" style="font-family: Sora; color: #16b97a; font-weight: bold; font-size: 2em;">Meal Suggestion Generator</h1>
                  <form method="post">
                      {% csrf_token %}
                      <div class="m-3">
                          <label for="diet_option">Diet Option:</label>
                          <select style="padding: 5px;" class="form-select" id="diet_option" name="diet_option">
                            
                              <option  value="Vegan"> Vegan</option>
                              <option value="Non-veg">Non-veg</option>
                              <option value="Veg">Veg</option>
                              <option value="Gluten free">Gluten free</option>
                          </select>
                      </div>
                      
                      <fieldset class="form-group m-3">
                          <label for="nut-allergic-true">Nut Allergic :</label>
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="nut_allergic_true" name="nut_allergic" value="True">
                              <label class="form-check-label" for="nut_allergic_true">True</label>
                          </div>
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="nut_allergic_false" name="nut_allergic" value="False">
                              <label class="form-check-label" for="nut_allergic_false">False</label>
                          </div>
                      </fieldset>
                      
                      <div class="form-group m-3">
                          <label for="goal">Goal:</label>
                          <select style="padding: 5px;" class="form-select" id="goal" name="goal">
                              <option value="lose_weight">Lose weight</option>
                              <option value="gain_mass">Gain mass</option>
                              <option value="maintain_weight">Maintain weight</option>
                          </select>
                      </div>
  
                      <button type="submit" style="background-color: #f39728; color: white;" class="btn btn-block mt-5">Generate Meal Suggestion</button>
                  </form>
              </div>
          </div>
  
          {% if meal_name %}
          <div class="card shadow-lg mt-5">
              <div class="card-body">
                  <h4 class="mb-4" style="color: #16b97a;">Meal Details</h4>
                  <p><strong>Meal Name:</strong> {{ meal_name }}</p>
                  <p><strong>Calories:</strong> {{ calories }}</p>
                  <p><strong>Price:</strong> {{ price }}</p>
              </div>
          </div>
  
          <div class="card shadow-lg mt-4">
              <div class="card-body">
                  <h4 class="mb-4" style="color: #16b97a;">Ingredients</h4>
                  <ul style="list-style: none; padding:0; line-height:2;">
                      {% for ingredient in ingredients %}
                          <li>{{ ingredient }}</li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
  
          <div class="card shadow-lg mt-4">
              <div class="card-body">
                  <h4 class="mb-4" style="color: #16b97a;">Recipe</h4>
                  <ol style="list-style: none; padding:0; line-height:2;">
                      {% for step in recipe_steps %}
                          <li>{{ step }}</li>
                      {% endfor %}
                  </ol>
              </div>
          </div>
          <div class="card shadow-lg mt-4">
              <div class="card-body">
                  <h4 class="mb-4" style="color: #16b97a;">Health Benefits</h4>
                  <ol style=" line-height:2;">
                      {% for benefits in health_benefits %}
                          <li>{{ benefits }}</li>
                      {% endfor %}
                  </ol>
              </div>
          </div>
          {% endif %}
  
          {% if diet_option or nut_allergic or goal %}
          <div class="card shadow-lg mt-4 mb-5">
              <div class="card-body">
                  <h4 class="mb-4" style="color: #16b97a;">Preferences Used</h4>
                  <p><strong>Diet Option:</strong> {{ diet_option }}</p>
                  <p><strong>Nut Allergic:</strong> {{ nut_allergic }}</p>
                  <p><strong>Goal:</strong> {{ goal }}</p>
                  
              </div>
              
          </div>
          <p><a href="" class="btn btn-secondary btn-block mt-4">Generate Another Meal Suggestion</a></p>
          {% endif %}
          
      </div>
  
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </section>
</main>
{% endblock content %}