{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="main-content border-radius-lg ">
    <section>
      <div class="container mt-5">
        <div class="mb-4" style="display: flex; justify-content: space-between; align-items: center;">
          <h5>Hi, Prajwal</h5>
          <img src="{% static 'images/user-icon.webp' %}"
            style="height: 60px; width: 60px;object-fit: contain; border-radius: 50%; margin-right: 15px;" alt="">
        </div>

        <div class="card shadow-lg">
          <div class="card-body">
            <h1 class="text-center  mb-4" style="font-family: Sora; color: #16b97a; font-weight: bold; font-size: 2em;">
              Generate Meal from Photo</h1>
          </div>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'meal_from_photo' %}">
          {% csrf_token %}
          <input type="file" name="image">
          <button type="submit">Generate Meal Plan</button>
        </form>
        {{ response | safe }}
      </div>
    </section>
  </main>
{% endblock content %}