{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="main-content border-radius-lg ">
  <section>
    <div class="container mt-5">
      <div class="mb-4" style="display: flex; justify-content: space-between; align-items: center;">
        <h5>Hi, {{request.user.first_name}}</h5>
        <img src="{% static 'images/user-icon.webp' %}"
          style="height: 60px; width: 60px;object-fit: contain; border-radius: 50%; margin-right: 15px;" alt="">
      </div>

      <div class="card shadow-lg">
        <div class="card-body">
          <p class="" style="font-family: Sora; color: #16b97a; font-weight: bold; font-size: 2em;">
            Please Select your Preferences:</h1>
          
        </div>
      </div>
        <div class="card mt-3" style="display: block;">
          <div class="card-body">
                <form method="post" action="{% url 'preferences' %}">
                    {% csrf_token %}
                    <div class="m-3">
                        <label for="diet_option">Diet Option:</label>
                        <select style="padding: 5px;" class="form-select" id="diet_option" name="diet_option">
                          
                            <option value="Vegan"> Vegan</option>
                            <option value="Non-veg">Non-veg</option>
                            <option value="Veg">Veg</option>
                            <option value="Gluten free">Gluten free</option>
                        </select>
                    </div>
                    
                    <fieldset class="form-group m-3">
                        <label for="nut-allergic-true">Nut Allergic :</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="nut_allergic_true" name="nut_allergic" value="True">
                            <label class="form-check-label" for="nut_allergic_true">True</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="nut_allergic_false" name="nut_allergic" value="False">
                            <label class="form-check-label" for="nut_allergic_false">False</label>
                        </div>
                    </fieldset>
                    
                    <div class="form-group m-3">
                        <label for="goal">Goal:</label>
                        <select style="padding: 5px;" class="form-select" id="goal" name="goal">
                            <option value="lose_weight">Lose weight</option>
                            <option value="gain_mass">Gain mass</option>
                            <option value="maintain_weight">Maintain weight</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Save Preferences</button>
                </form>
          </div>
        </div>
    </div>
  </section>
</main>

{% endblock content %}